*{
    margin: 0;
    padding: 0;
}

nav {
  display: flex;              /* বাম–ডান সাজানোর জন্য */
  justify-content: space-between; /* দুই প্রান্তে ভাগ */
  align-items: center;        /* উল্লম্বভাবে মাঝখানে */
  padding: 15px;
  background-color: #d81c1c;
  color: whitesmoke;
}


.brand img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.menu {
  list-style: none;   /* বুলেট চিহ্ন বাদ */
  display: flex;      /* লিংকগুলো পাশাপাশি */
  gap: 20px;          /* ফাঁকা */
}

.menu a {
  text-decoration: none; /* আন্ডারলাইন বাদ */
  color: white;
  font-weight: bold;
}
.menu a:hover {
  color: orange;   /* মাউসে রঙ পরিবর্তন */
}

.hero {
  display: flex;                /* পাশে পাশে আনার জন্য */
  align-items: center;          /* vertically center */
  justify-content: space-between;
  padding: 50px;
  gap: 40px;
  background: #fff;
}

.hero-text {
  flex: 1;                      /* টেক্সট এরিয়া সমান স্পেস নেবে */
  max-width: 50%;               /* সর্বোচ্চ অর্ধেক জায়গা */
}

.hero-text h1 {
  font-size: 36px;
  line-height: 1.3;
  color: #333;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #e60023;
}

.hero-text p {
  margin: 15px 0;
  font-size: 16px;
  color: #555;
}

.hero-buttons {
  margin: 20px 0;
}

.hero-buttons .btn {
  display: inline-block;
  padding: 12px 20px;
  margin-right: 10px;
  border-radius: 5px;
  background: #e60023;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero-buttons .btn.secondary {
  background: #555;
}

.iso {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}

.hero-video {
  flex: 1;                      /* ভিডিওর এরিয়াও সমান স্পেস নেবে */
  max-width: 50%;
}

.hero-video iframe {
  width: 100%;                  /* div এর পুরো প্রস্থ নেবে */
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}